.logoimg{
	width: 80px;
}

.text123{
	color:white;
}
.img-responsive{
	width:100%;
}
#but1{
	margin: 30px 10px;padding: 10px;border-radius: 20px;width:150px;
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  width: 80%;
  text-align: center;
  font-size: 20px;
}

.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.cardbox {
  padding: 2px 16px;
}


footer{
	background-color:#343a40;
}

.sticky{
  position: -webkit-sticky;
  position: sticky;
  top: 0;
}

.footlogo{
  margin-top: 25px;
  margin-right:10px;
  margin-bottom: 20px;
}